.cita {
    border: 1px solid #a59c9c;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #611e1e;
  }
  
  .eliminar {
    background-color: red;
    color: rgb(201, 25, 177);
    border: none;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }  